<!--<mat-toolbar>
    <mat-toolbar-row style="font-size: 1.5rem; height: 80px; background-color: rgb(124, 121, 121); color: white;">
        <button mat-icon-button><mat-icon>menu</mat-icon></button>
        <span>Login Agenda</span>
        <span class="example-spacer"></span>
    </mat-toolbar-row>
</mat-toolbar>-->

<div id="log">
    <h1 id="titulo">Login</h1>
    <div class="example-container" fxLayout="column" fxLayoutAlign="center center">
        <mat-form-field appearance="fill" style="width: 80%;">
        <mat-label>Digite seu usuário</mat-label>
        <input matInput placeholder="pat@example.com" [(ngModel)]="usuario.usuario" required>
        </mat-form-field>
        <br>
        <mat-form-field appearance="fill" style="width: 80%;">
            <mat-label>Digite sua senha</mat-label>
            <input matInput [(ngModel)]="usuario.senha" [type]="hide ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
        </mat-form-field>

        <button id="entrar" type="submit" mat-raised-button color="primary"
        (click)="fazerLogin()" >Login</button>

    </div>
</div>


