<div *ngIf="action == 'atualizar'">
    <h1 mat-dialog-title >Atualizar o contato </h1>
</div>
<div *ngIf="action == 'cadastrar'">
    <h1 mat-dialog-title >Cadastro de contato </h1>
</div>
<!--<h1 mat-dialog-title >Cadastro de contato </h1>-->
<div mat-dialog-content>
    <form [formGroup]="contatoForm">
        <mat-form-field>
            <mat-label>Nome:</mat-label>
            <input matInput formControlName="nome" name="nome">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>E-mail: </mat-label>
            <input matInput formControlName="email" name="email">
        </mat-form-field>
        <br/>
        <mat-form-field>
            <mat-label>Telefone: </mat-label>
            <input matInput formControlName="telefone" name="telefone">
        </mat-form-field>

    </form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="saveContato()">Confirmar</button>
</div>
  